# Ignore environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Terraform-related files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Allow terraform.lock.hcl explicitly
!.terraform.lock.hcl

# Allow tfstate files explicitly (use with caution)
!*.tfstate
!*.tfstate.*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Python-related files and directories
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller and installer logs
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Django related files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask related files
instance/
.webassets-cache

# Scrapy related files
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder directories
.pybuilder/
target/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IPython config files
profile_default/
ipython_config.py

# pyenv files (usually not needed for libraries)
# .python-version

# pipenv and poetry lock files (if necessary, you can uncomment these lines to include them)
#Pipfile.lock
#poetry.lock

# pdm files (if needed, uncomment this to include them)
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582 for pyflow and pdm
__pypackages__/

# Celery related files
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs related files
/site

# mypy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker files
.pyre/

# pytype static analyzer files
.pytype/

# Cython debug symbols
cython_debug/

# JetBrains (PyCharm) specific files
# .idea/

# Ruff cache
.ruff_cache/

# PyPI config file
.pypirc

# GIF files (do not ignore)
!*.gif

